<div id="queryTitleContainer">
    <h2>Advanced Search results</h2>
</div>

<div id="queryListContainer">
    <div class="list-group">
        <form action='/result' method="get">
            <% samples.forEach(function (sample) { %>

        <button type="submit" name="sampleSelection" value="<%= sample?.sample_id%>" onclick="window.location.href='/result'" class="list-group-item list-group-item-action list-group-item-light" style="color: #0a0a0a">
        Run:     <%= sample?.sample_id %><br>
        Species: <%= sample?.species ?? "Unknown"%><br>
        Host:    <%= sample?.isolation_host ?? "Unknown"%><br>
		Source: <%= sample?.isolation_source ?? "Unknown"%><br>
		Location: <%= sample?.isolation_location ?? "Unknown"%>
            </button>
        <% }) %>
        </form>
        <br>
        <p style="text-align: center"> Displaying result(s) <%= number %> of <%= number %></p>
    </div>
</div>
