<div id="queryTitleContainer">
    <h2>Search results for:
        <br><b>"<%= category %>: <%= query %>"</b></h2>
</div>

<div id="queryListContainer">
    <div class="list-group">
        <form action='/result' method="get">
        <% samples.forEach(function (sample) { %>

        <button type="submit" name="sampleSelection" value="<%= sample.sample%>" onclick="window.location.href='/result'" class="list-group-item list-group-item-action list-group-item-light" style="color: #0a0a0a">
        Run:     <%= sample.sample %><br>
        Species: <%= sample.species %><br>
        Host:    <%= sample.host %><br>
		Source: <%= sample.source %><br>
		Location: <%= sample.location %>
      </button>

        <% }) %>
          
        </form>
        <br>
        <p style="text-align: center"> Displaying result(s) <%= number %> of <%= number %></p>
    </div>
</div
