<form action='/result' method="get">
	<% randomSamples.forEach(function (random) { %>

	<button type="submit" name="sampleSelection" value="<%= random.sample %>" onclick="window.location.href='/result'" class="list-group-item list-group-item-action list-group-item-light" style="color: #0a0a0a">
        Run:     <%= random.sample %><br>
        Species: <%= random.species %><br>
        Host:    <%= random.host %><br>
		Source: <%= random.source %><br>
		Location: <%= random.location %>
		<% }) %>
	</button>
</form>

